.about__test-title{
    width: 156px;
    font-family: Golos, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 35px;
    color: hsl(293, 86%, 26%);
    margin: 0 0 0 257px;
}