.header__burger-button {
    position: absolute;
    padding: 0;
    margin: auto;
    margin-right: 32px;
    margin-top: 29px;
    width: 50px;
    height: 24px;
    border: none;
    background-color: transparent;
    display: none;
    background-image: url(../../../images/header/menu_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
}

.header__burger-button:hover {
    opacity: 0.7;
    cursor: url("../../../images/cursor.svg"), url("../../../images/cursor.cur"), pointer;
}

@media screen and (max-width: 890px) {
    .header__burger-button {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .header__burger-button {
        width: 43.5px;
        height: 21px;
    }
}