.intro__link-holder{
    display: flex;
    position: absolute;
    top: 150px;
    right: 165px;
    z-index: 1;
    width: 345px;
    height: 82px;
    background-color: hsl(166, 100%, 29%);
    margin: 0;
}