.partners__slider_logo {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 640px) {
  .partners__slider_logo {
    width: 79px;
  }
}

@media screen and (max-width: 320px) {
  .partners__slider_logo {
    width: 51px;
  }
}
