.about__text{
    width: 229px;
    height: 55px;
    font-family: Golos, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    color: #6D097A;
    margin: 0;
    padding: 18px 0 38px 29px;
}