.navigation-card__burger {
    display: none;
    flex-direction: column;
    position: relative;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px;
    z-index: 100;
    width: fit-content;
    min-width: 65px;
    height: fit-content;
}

@media screen and (min-width: 890px) {
    .navigation-card__burger {
        display: none;
    }
}