.test-button__button{
    width: 167.37px;
    height: 39.16px;
    background-color: hsl(293, 86%, 26%);
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-family: Golos, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14.9775px;
    line-height: 18px;
    margin: 0 0 0 71px;
    transition: background-color .3s;
}

.test-button__button:hover {
    background-color: hsl(293, 71%, 38%);
}