.about{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    position: relative;
    height: 722px;
    background-color: inherit;
    box-sizing: border-box;
}