.about{
    display: flex;
    position: relative;
    z-index: 1;
    
    justify-content: space-around;
    position: relative;
    height: 722px;
    background-color: inherit;
    box-sizing: border-box;
    border: 1px solid red;

}