.projects__slider_item {  
  margin-right: 60px;  
}

.projects__slider_item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .projects__slider_item {
    margin-right: 35px;
  }
}