.partners__pazzl {
  width: 70px;
  height: 84px;
  background-image: url(../../../images/partners/partners-pazl.svg);
  margin-top: 30px;
  margin-right: 134px;
  margin-left: auto;
  z-index: -10;
}

@media screen and (max-width: 640px) {
  .partners__pazzl {   
    margin-right: 84px;
  }
}

@media screen and (max-width: 560px) {
  .partners__pazzl {   
    margin-left: 82px;
  }
}

@media screen and (max-width: 320px) {
  .partners__pazzl {
    width: 31px;
    height: 36px;
    margin-top: 22px;   
  }
}