.intro__description{
    display: block;
    width: 250px;
    height: 41px;
    font-family: Golos, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17.1708px;
    line-height: 20px;
    color: hsl(0, 0%, 100%);
    margin: 12px 0 0 37px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}